@charset "utf-8";
/* CSS Document */ 
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.preguntas-frecuentes {
    display: flex;
    flex-wrap: wrap;
}

.preguntas {
    background-color: lightsteelblue;
    display: flex;
    flex-wrap: wrap;
    padding:20px
    margin:20px
}