@charset "utf-8";
/* CSS Document */ 
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;

}

html {
  scroll-behavior: smooth;
}

.header_container{
  max-width: 100vw;
  height: 15vh;
  background-color: #97C9DD;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Lato"; 
}

.items { /nav/
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 60px;
}

nav a:hover { 
  color: #EF8057;
  border-bottom: 2px solid #EF8057;}

.items a { 
  padding: 0.3rem 1rem;
  color: #0E1F35;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background:#97C9DD;
  color: #fff;
  position: relative;
}

.footer img {
  margin-bottom: 20px;
}

.container_botonera {
  flex: 1;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  padding: 20px 0px 0px 100px;

}

.container_botonera ul {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px 0; 
  list-style: none;
}

.container_botonera ul li {
  flex: 0 0 50%; 
}

.container_botonera li a {
  color: #0E1F35;
  text-decoration: none;
}

.container_botonera li a:hover {
  color: #EF8057;
}

.botonera_h3 {
  margin-bottom: 15px;
  color: #0E1F35;
}

.container_botonera a {
  color: #0E1F35;
  text-decoration: none;
}

.container_botonera a:hover {
  color: #EF8057;
}

.parte_equipo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 100px 0px 0px;
}

.parte_equipo p a {
  display: inline-block;
  background-color: #f27648;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.parte_equipo p a:hover {
  background-color: #EF8057;
}

.redes {
  flex: 1;
  color: #0E1F35;
}

.redes ul {
  display: flex;
  gap: 37px;
  padding: 10px 0;
}

.redes h2 {
    margin-bottom: 10px;
}

.redes p {
    margin: 5px 0;
}

.formulario {
border-radius: 5%;}

.img_muelafooter {
position: absolute;
top: -37%;
right: 46%;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0E1F35; /* azul oscuro */
  text-align: center;
  padding: 10px 50px;
  color: white;
  font-size: 12px;
  margin-top: 40px;
  font-family: "Lato";
}

.footer-bottom p {
  margin: 0;
}

/*MANU - PREGUNTAS FRECUENTES + TIPS*/

h2 {
    color:orange
}

h4 {
    color:#97C9DD;
}
.preguntas-frecuentes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 80px;
}

.preguntas {
    background-color:#97C9DD;
    display: flex;
    align-content: center;
    padding:20px;
    margin-bottom: 20px;
    border-radius: 30px;
    flex-direction: column;
}

.imagenes-tips {
    display:flex;
    flex-direction: column;
    align-content: center ;
}

.subrayado {
    color:orange;
    text-decoration: underline;
    text-decoration-color: #97C9DD;
    margin-bottom: 20px;
    align-content: center;
    display: flex;
}

.tips-preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloque-respuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:50px;
}

.texto-contenido_preguntas {
    display:flex;
    flex-direction: column;
}

.contenedor-tips {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.bloque-izquierda {
    display:flex;
}

.bloque-derecha{
    display: flex;
}

@media screen and (max-width: 600px)
{
     header {
        padding: 20px;
        margin:0px;
    }

}